    @tailwind base;
    @tailwind components;
    @tailwind utilities;


    /* Custom background with cream color and yellow stains */
    @layer utilities {
        .bg-cream-bg {
        background-color: #dbdbd3; /* light cream color */
        }
    }
    @keyframes moveRandomly {
        0% {
          transform: translate(0, 0);
        }
        25% {
          transform: translate(150px, -150px);
        }
        50% {
          transform: translate(-200px, 100px);
        }
        75% {
          transform: translate(100px, 200px);
        }
        100% {
          transform: translate(-150px, -50px);
        }
      }
      
      .moving-spot {
        position: absolute;
        animation: moveRandomly 20s infinite ease-in-out; /* Smooth, slow motion */
      }
      